
.about-me {
  margin-bottom: 25px;
}

.about-me .image {
  width: 30%;
  height: 250px;
  margin-top: 25px;
  margin-right: 25px;
  background-image: url('/static/images/me.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
}

.about-me .text {
  width: 65%;
}
