lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

node_modules
bower_components
.idea
.env

public/js/*.js
public/js/**/*.js
public/html/*.html
public/html/**/*.html
public/css/*.css
public/css/**/*.css
app/*
