<!DOCTYPE html>
<body>
  <head>
    <title>{{{ title }}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:400,900'/>
    {{{ css 'base' }}}
  </head>
  <body>
    <div class="web">
      <header class="view-port">
        <h1>
          <a href="/">
            <span class="bold">Maximilian</span>
            <span>Krauß</span>
          </a>
        </h1>
        <h3>
          maxed out backend developer based in berlin
        </h3>
      </header>

      <section id="teaser">
      </section>

      <section class="view-port">
        {{{ body }}}
      </section>

      {{{ js 'web' }}}
    </div>
  </body>
</body>
