<!DOCTYPE html>
<body>
  <head>
    <title>{{{ title }}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:400,900'/>
    {{{ css 'base' }}}
  </head>
  <body>
    <div class="web">
      <header class="view-port">
        <h1>
          <a href="/">
            <span class="bold">Maximilian</span>
            <span>Krauß</span>
          </a>
        </h1>
        <h3>
          maxed out backend developer based in berlin
        </h3>

        <ul class="social-icons">
          <li class="social-icon github"><a target="_blank" href="https://github.com/maximilian-krauss"><i class="fa fa-github"></i></a></li>
          <li class="social-icon twitter"><a target="_blank" href="https://twitter.com/DonnieBerlin"><i class="fa fa-twitter"></i></a></li>
          <li class="social-icon mail"><a href="mailto:max@krauss.io"><i class="fa fa-envelope"></i></a></li>
        </ul>

      </header>

      <section id="teaser">
      </section>

      <nav class="view-port menu">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Cocktails</a></li>
        </ul>
      </nav>

      <section class="view-port">
        <div class="">
          {{{ body }}}
        </div>
      </section>

      {{{ js 'web' }}}
    </div>
  </body>
</body>
