<div class="view-port index" ng-init="initialize()">
  <div class="uk-grid">
    <div class="uk-width-1-1 about-me">
      <article class="uk-article">
        <h3>A little about me...</h3>
        <p>
          Hello again - My name is Max. I'm a full stack developer based in Berlin, Germany.
          <br />
          I have experiences in writing RESTful APIs powered by ASP.NET Web API or node.js.
          For the frontends things I'm really happy with angular.js.
        </p>
      </article>
    </div>

    <div class="uk-width-1-1">
      <h3>Latest posts from my <a href="http://blog.krauss.io" target="_blank">blog</a></h3>
      <kr-blog-post-list></kr-blog-post-list>
    </div>

    <div class="uk-width-1-1">
      <h3>My projects</h3>
      <kr-project-list></kr-project-list>
    </div>
  </div>
</div>
