html, body {
    height:100%;
    margin:0;
    padding:0;
    font: 14px "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #333;
}

h1,h2,h3,h4,h5,a,p,span {
    font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a,a:hover {
    color: #00B7FF;
    text-decoration: none;
}

p {
    line-height: 24px;
}

h1,h2,h3,h4,h5 {
    font-weight: lighter;
}

header {
    top: 0;
    padding-top: 10px;
}

header div.teaser {
    background: no-repeat center center;
    background-size: cover;
    display: block;
    width: 100%;
    height: 300px;
}

header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
header h1 a {
    color: #333;
}

header h1 a:hover {
    color: #333;
}

header h3 {
    color: #949494;
    margin-top: 6px;
    font-size: 16px;
}

footer {
    font-size: 12px;
    color: #CACACA;
    padding: 10px 0;
}

.bold {
    font-weight: bold;
}

.spanfix {
    margin-left: 4px;
    margin-right: 4px;
}

.clearfix {
    clear: both;
}

.view-port {
    width: 760px;
    margin: 15px auto 0;
}

div.content-view.ng-enter {
    -webkit-animation: fadeInLeft 1s;
    -moz-animation: fadeInLeft 1s;
    -ms-animation: fadeInLeft 1s;
    -o-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
}

/* Specific styles for project-detail
============================================= */
.project-detail .github-info {
    margin-left: 10px;
}

/* Specific styles for directives
============================================= */
.directive.loader {
    margin-top: 6px;
    margin-bottom: 6px;
}

.directive.loader i {
    margin-right: 6px;
    font-size: 16px;
    font-weight: bold;
}


.directive.blog-post-list .time-ago {
    color: #8e8e8e;
    font-size: 12px;
}


.directive.toggler.inline {
    display: inline;
}

.directive.toggler .switch.inline {
    display: inline-block;
    line-height: 0;
    margin-left: 5px;
    position: relative;
    top: -1px;
}

.directive.toggler .switch a {
    background: #ddd;
    color: #555;
    line-height: 6px;
    height: 14px;
    font-size: 16px;
    font-weight: 700;
    vertical-align: middle;
    display: inline-block;
    border-radius: 1px;
    text-decoration: none;
    padding: 0 5px;
}

.directive.toggler .switch a:hover {
    background-color: #ccc;
    text-decoration: none;
}

.directive.toggler .switch a:active {
    background: #4183C4;
    color: #fff;
}

.directive.toggler .hidden-content {
    margin-top: 10px;
}